<div class="employeecard">

    <table class="table">
        
        <tbody>
          <tr>
            <th scope="row">EMPLIOYEENAME</th>
            <td>{{employeeDetail.employeename}}</td>
            
          </tr>
          <tr>
            <th scope="row">EMPLOYEEDISCANATON</th>
            <td>{{employeeDetail.employeeDesingnation}}</td>
           
          </tr>
          <tr>
            <th scope="row">EMPLOYEESALARY</th>
            <td>{{employeeDetail.employeeSalary}}</td>
           
          </tr>
        </tbody>
      </table>
</div>